/* Google Fonts: Montserrat + Montserrat Alternates */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

/* variables */
:root {
  /* font families */
  --main-font: "Montserrat", sans-serif;
  --second-font: "Montserrat Alternates", sans-serif;

  /* colors */
  --green-clr: #90b274;
  --dark-olive-green-clr: #262416;
  --peru-clr: #cb842d;
  --tomato-red-clr: #f64900;
  --white-smoke-clr: #eae8e8;
  --white-clr: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
  letter-spacing: 1px;
}

body {
  font-family: var(--main-font);
}

/* -------------------------------- wrapper -------------------------------- */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 90vh 10vh;
}

/* -------------------------------- common classes -------------------------------- */
/* flex */
.flex {
  display: flex;
}

/* align-items: center; justify-content: center */
.flex-all-center {
  align-items: center;
  justify-content: center;
}

/* align-items: center; justify-content: space-between */
.flex-cntr-spc-btwn {
  align-items: center;
  justify-content: space-between;
}

/* align-items: center; justify-content: space-evenly */
.flex-cntr-spc-evn {
  align-items: center;
  justify-content: space-evenly;
}

/* align-items: center; justify-content: space-around */
.flex-cntr-spc-arnd {
  align-items: center;
  justify-content: space-around;
}

/* flex-flow: column */
.flex-col {
  flex-flow: column;
}

/* list-item class: item box */
.item-box {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* --------------------- container --------------------- */
.container {
  gap: 2rem;
}

/* content header */
.content-head {
  background-color: var(--peru-clr);
  color: var(--white-clr);
  font: normal 700 2.5rem var(--main-font);
  border-radius: 5px;
  box-shadow: 0 2px 6px -1px var(--peru-clr);
}

/* content head head-1 */
.content-head .head-1 {
  padding: 1rem 2rem;
  text-shadow: 0 2px 2px var(--dark-olive-green-clr);
}

/* content message */
.content-msg p {
  color: var(--peru-clr);
  font: normal 600 1.15rem var(--main-font);
  /* text-decoration: underline; */
  text-decoration: underline 0.25rem var(--green-clr);
  text-underline-offset: 0.5rem;
}

.content-msg p a {
  color: var(--peru-clr);
  font-style: italic;
  text-shadow: 0 0 2px var;
  transition: 0.5s ease-in-out;
}

.content-msg p a:hover {
  color: var(--green-clr);
}

/* list */

/* list item */
.list-item {
  margin-bottom: 0.5rem;
  background-color: var(--peru-clr);
  align-items: center;
  gap: 0.5rem;
  font-family: var(--second-font);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.list-item span,
.list-item a {
  color: var(--white-clr);
  font-size: 1.35rem;
  font-weight: 500;
}

.list-item:hover {
  background-color: var(--tomato-red-clr);
  box-shadow: 0 2px 6px -1px var(--dark-olive-green-clr);
}

/* --------------------- footer --------------------- */
.footer {
  gap: 0.5rem;
  background-color: var(--dark-olive-green-clr);
  color: var(--white-clr);
  line-height: 1.4;
}

.footer p {
  font: normal 500 1rem var(--main-font);
}

.footer p a {
  color: var(--peru-clr);
  font-weight: 700;
}

/* --------------------- media --------------------- */
@media (max-width: 459px) {
  .wrapper {
    width: 95vw;
    height: auto !important;
    margin: auto;
  }
  .container {
    width: 100%;
  }

  .content-head {
    font: normal 700 1.25rem var(--main-font);
    text-align: center;
  }

  .content-msg p {
    color: var(--green-clr);
    font: normal 700 1rem var(--main-font);
    text-decoration: none;
    text-align: center;
  }

  .list-item span,
  .list-item a {
    font-size: 1rem;
  }

  .footer p {
    font: normal 400 1rem var(--main-font);
  }

  .footer p a {
    color: var(--peru-clr);
    font-weight: 500;
  }
}

@media (min-width: 460px) and (max-width: 600px) {
  .wrapper {
    width: 95vw;
    height: auto !important;
    margin: auto;
  }

  .container {
    width: 100%;
  }

  .content-head {
    font: normal 700 1.5rem var(--main-font);
    text-align: center;
  }

  .content-msg p {
    color: var(--green-clr);
    font: normal 700 1rem var(--main-font);
    text-decoration: none;
    text-align: center;
  }

  .list-item span,
  .list-item a {
    font-size: 1rem;
  }

  .footer p {
    font: normal 400 1rem var(--main-font);
  }

  .footer p a {
    color: var(--peru-clr);
    font-weight: 500;
  }
}

@media (max-width: 760px) {
  .wrapper {
    width: 95vw;
    height: auto !important;
    margin: auto;
  }

  .container {
    width: 100%;
  }

  .content-head {
    font: normal 700 1.75rem var(--main-font);
  }

  .content-msg p {
    color: var(--green-clr);
    font: normal 700 1.25rem var(--main-font);
    text-decoration: none;
    text-align: center;
  }

  .list-item span,
  .list-item a {
    font-size: 1.15rem;
  }

  .footer p {
    font: normal 400 1rem var(--main-font);
  }
}
